.task-heading {
    font-weight: bolder;
}

.task-container {
    background-color: #E2E4E6;  
    padding: 10px;
}

.task-card {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
}

.add-card-btn {
    background-color: inherit;
    border: none;
    color: #666;
    cursor: pointer;
    outline: none;
}

.task-meta {
    float: right;
}
