.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    padding: 15px 15px 35px 15px;
    background-color: maroon;
    color: #fff;
    border-radius: 5px;
    width: 30%;
    margin: 10px 0;
    display: inline-table;
    cursor: pointer;
}

.add-board-btn {
    padding: 10px;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    float: right;
    background-color: forestgreen;
}

.task-meta {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
}

.board-block {
    font-size: 22px;
    font-weight: bolder;
    color: #000;
}

.board-input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
}

.remove-board {
    background-color: red;
    color: #fff;
    font-size: 12px;
    padding: 8px;
    float: right;
    border-radius: 5px;
    cursor: pointer;
}

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.board-container {
    width: 75%;
    margin: 0 auto;
    padding: 1% 0;
}

#nav-toggle {
    cursor: pointer;
    font-size: 22px;
    margin-right: 10px;
}

#sideMenu {
    background-color: grey;
    color: #fff;
    width: 20%;
    height: 100vh;
}

#menuList {
    list-style: none;
    padding: 0;
}

#menuList li {
    cursor: pointer;
    padding: 10% 5%;
    border-bottom: 1px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#projects-list {
    display: inline-block;
    margin-top: 5%;
    width: 100%;
}

@media (max-width: 400px) {
    #sideMenu {
        width: 30%;
    }
    .board-container {
        width: 65%;
    }
    .card,
    .board-input {
        width: 100%;
    }
    .board-input {
        margin: 5% 0;
    }
    .add-board-btn {
        float: left;
    }
    .board-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50%;
        display: inline-block;
    }
}